*{
  margin: 0;
}

.App{ 
  display: flex;
  justify-content: space-evenly;
  padding: 10px;
}

.app__header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.app_stats {
  display: flex;
  justify-content: space-between;
}


@media (max-width : 990px){
  .App{
    flex-direction: column;
  }
}

.table{
  margin-top: 20px;
  overflow: scroll;
  height: 400px;
  color: #6a5d5d;
  background-color: white;
}

.table tr{
  display: flex;
  justify-content: space-between;
}

.table td{
  padding: 0.5rem;
}

.table tr:nth-of-type(odd){
  background-color: #f3f2f8;
}